html,
body,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
}

.el-breadcrumb {
	margin-bottom: 15px;
	font-size: 15px;
}

.box-card {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
	height: 100%;
}

.el-table {
	margin-top: 30px;
	font-size: 16px;
	color: #333;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-thumb {
	background-color: #dddddd;
	background-clip: padding-box;
	min-height: 25px;
}
